bin/Debug/net7.0/01-SendEvents
bin/Debug/net7.0/01-SendEvents.deps.json
bin/Debug/net7.0/01-SendEvents.dll
bin/Debug/net7.0/01-SendEvents.pdb
bin/Debug/net7.0/01-SendEvents.runtimeconfig.json
bin/Debug/net7.0/Azure.Core.Amqp.dll
bin/Debug/net7.0/Azure.Core.dll
bin/Debug/net7.0/Azure.Messaging.EventHubs.dll
bin/Debug/net7.0/Microsoft.Azure.Amqp.dll
bin/Debug/net7.0/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/net7.0/System.Memory.Data.dll
obj/01-SendEvents.csproj.nuget.dgspec.json
obj/01-SendEvents.csproj.nuget.g.props
obj/01-SendEvents.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/01-SendEvents.AssemblyInfo.cs
obj/Debug/net7.0/01-SendEvents.AssemblyInfoInputs.cache
obj/Debug/net7.0/01-SendEvents.assets.cache
obj/Debug/net7.0/01-SendEvents.csproj.AssemblyReference.cache
obj/Debug/net7.0/01-SendEvents.csproj.CopyComplete
obj/Debug/net7.0/01-SendEvents.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/01-SendEvents.csproj.FileListAbsolute.txt
obj/Debug/net7.0/01-SendEvents.dll
obj/Debug/net7.0/01-SendEvents.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/01-SendEvents.genruntimeconfig.cache
obj/Debug/net7.0/01-SendEvents.GlobalUsings.g.cs
obj/Debug/net7.0/01-SendEvents.pdb
obj/Debug/net7.0/apphost
obj/Debug/net7.0/ref/01-SendEvents.dll
obj/Debug/net7.0/refint/01-SendEvents.dll
Program1.cs
01-SendEvents.csproj
